.container
  .row
    .col-xs-12
      .form-wrap
        h2 <i>确认接收人</i>
  .row
    .col-xs-12
      .form-wrap
        form
          .weui_cells.weui_cells_form
            each item,i in page.users
              .weui_cell
                .col-xs-7
                  .weui_label
                    span &nbsp#{item.userDepartName}
                .col-xs-4
                    span #{item.userName}
                .col-xs-1
                    input(type="radio", name="choseId", value="#{i}") 
          p &nbsp
  include newExButton