.container
  .row
    .col-xs-12
      .form-wrap
        h1
          p <em>错误:</em>
        h3
          p &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp!{page.message}
          p &nbsp
  include newExButton