.modal#message_modal
  .modal-dialog
    .modal-content
      .modal-header
        h4 提示信息
      .modal-body
        .weui_cell
          .weui_cell_bd.weui_cell_primary
            p 
          .weui_cell_ft
            span.glyphicon.glyphicon-barcode#scan_bar_code
      .modal-footer
        button.btn.btn-default(data-dismiss='modal') 确定