.row
  .col-xs-6
    .form-wrap
      .button_sp_area
        button.weui_btn.weui_btn_plain_default#re 返回
  .col-xs-6
    .form-wrap
      .button_sp_area
        button.weui_btn.weui_btn_plain_default#go 继续