extends ../../templates/expressage/layout

block body
  .container
    .row
      .col-xs-12
        .form-wrap
          if page.include == '1'
            h1
              p <em>成功:</em>
            h3
              p &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp确认领取,请关闭本页面
              p &nbsp
          else if page.include == '0'
            h1
              p <em>快件领取失败:</em>
            h3
              p &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#{page.message}
              p &nbsp