extends ../../templates/expressage/layout

block link
  script(src="#{publicPath}/js/records.js")
  script(src="#{publicPath}/js/qrcode.min.js")
block body
  .container
    .row
      .form-wrap
      .col-xs-6(style="text-align:center")
        .button_sp_area
          button.weui_btn.weui_btn_plain_default.weui_btn_mini#re 返回
      .col-xs-6(style="text-align:center")
        .button_sp_area
          button.weui_btn.weui_btn_plain_default.weui_btn_mini#go 确认领取
  .modal#mymodal
    .modal-dialog
      .modal-content
        .modal-header
          h4 提示信息
        .modal-body
          .weui_cell
            .weui_cell_bd.weui_cell_primary
              p#message 当前没有快递需要领取
        .modal-footer