
// 部门管理公共头部
extends ../../personnelLayout
    
block layoutScripts
    script(language="javascript", src="#{myPath}/javascripts/typeahead.min.js#{randomJsVersion}")
    script(language="javascript", src="#{myPath}/javascripts/03/0302.js#{randomJsVersion}")
    
block main
    .row(style='background-color:#f3f3f4')
        .col-md-12.col-sm-12
            h2 部门管理
    .row(style='background-color:#f3f3f4')
        .col-md-12.col-sm-12
            .col-md-2.col-sm-2.select-info
                .treeContent
                    div.tree
                        ul.ztree#treeMenu
            .col-md-10.col-sm-10
                .col-md-12.col-sm-12.select-info
                    form.form-inline#controlForm(style='margin-top: 10px; ')
                        .form-group
                            button(type="button").btn.btn-default#addSection 添加部门
                            |&nbsp&nbsp
                        block extraButtons
                .col-md-12.col-sm-12.select-info.ryuukasennTableContent
                    block contents