
// 部门管理公共头部
extends ../../personnelLayout

block layoutScripts
    script(language="javascript", src="#{myPath}/javascripts/03/0302.js")
    script(language="javascript", src="#{myPath}/javascripts/typeahead.min.js")
    script(language="javascript", src="#{myPath}/javascripts/common.js")
    
block main
    h2.page-header 部门管理
    form.form-inline#controlForm
        input(type='hidden', name='regionId')#regionId
        input(type="hidden", name="regionUid") 
        .form-group
            input.form-control(type="text",placeholder='输入名称,默认全部', name='regionName')#regionsPickup
            |&nbsp&nbsp
        label.radio-inline
            input(type="radio",name="typeRadio", checked, value="1") 
            |大区
            |&nbsp&nbsp
        label.radio-inline
            input(type="radio",name="typeRadio", value="2") 
            |全部
            |&nbsp&nbsp
        .form-group
            button(type="button").btn.btn-default#receiveRegions 查看部门划分
            |&nbsp&nbsp
        block extraButtons
    .row.col-xs-12.col-sm-12
        h2.page-header
        block contents