
// 审核管理公共头部
extends ../../personnelLayout


block layoutScripts
    script(language="javascript", src="#{myPath}/javascripts/03/0303.js")
    script(language="javascript", src="#{myPath}/javascripts/common.js")


block main
    h2.page-header 审核管理
    form.form-inline#controlForm
        .form-group
            button(type="button").btn.btn-default#receiveCurrents 查看当前未审核列表
            |&nbsp&nbsp
        block buttons
    .row.col-xs-12.col-sm-12
        h2.page-header
        block contents