
// 终端管理公共头部
extends ../../personnelLayout

block main
    .col-xs-12.col-sm-12.main-header
        h2 人员管理
        form.form-inline#controlForm
            .form-group
                button(type="button").btn.btn-default#receivePersons 查看当前人员信息
                |&nbsp&nbsp
            block buttons
        hr
    .main-body
        block contents

block layoutScripts
    script(language="javascript", src="#{myPath}/javascripts/03/0304.js")
    