
// 大区信息公共头部
extends ../../personnelLayout

block main
    h2.page-header 大区人员管理
    form.form-inline#controlForm
        .form-group
            button(type="button").btn.btn-default#receivePersons 查看大区人员
            |&nbsp&nbsp
        block buttons
    .row.col-xs-6.col-sm-6
        h2.page-header
    block contents

block layoutScripts
    script(language="javascript", src="#{myPath}/javascripts/03/0305.js")
    script(language="javascript", src="#{myPath}/javascripts/common.js")
    