
// 信息专员权限功能公共首页
extends ../../personnelLayout

block layoutScripts
    script(language="javascript", src="#{myPath}/javascripts/03/0306.js#{randomJsVersion}")
    
block main
    .col-md-12.col-sm-12.main-header
        h2 信息专员管理
        form.form-inline#controlForm
            .form-group
                button(type="button").btn.btn-default#receivePersons 查看大区人员信息
                |&nbsp&nbsp
            .form-group
                button(type="button").btn.btn-default#receiveAllPersons 查看所有人员信息
                |&nbsp&nbsp
            block buttons
        hr
    .main-body
        block contents
