
// 考核管理公共首页
extends ../../personnelLayout

block layoutScripts
    script(language="javascript", src="#{myPath}/javascripts/03/0307.js")
    
block main
    .col-xs-12.col-sm-12.main-header
        h2 考核管理
        form.form-inline#controlForm
            .form-group
                input(placeholder='截止日期,默认今天', name='endTime').form-control
                |&nbsp&nbsp
            .form-group
                button(type="button").btn.btn-default#createEvaluationForm 生成考核列表
                |&nbsp&nbsp
            block buttons
        hr
    .main-body
        block contents
