

div(role="dialog", aria-labelledby="0106ModalLabel", tabindex="-1").modal.fade#0106Modal
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                button.close(data-dismiss="modal",type="button")
                    span(aria-hidden="true") &times;
                h4.modal-title
            .modal-body
            .modal-footer
                button(type="button", data-dismiss="modal").btn.btn-default 关闭
                button(type="button").btn.btn-primary#confirm 确定