extends ../templates/layout

block body
.container
  .page.slideIn.msg
    .weui_msg
      .weui_icon_area
        i.weui_icon_warn.weui_icon_msg
      .weui_text_area
        h2.weui_msg_title 操作失败
        p.weui_msg_desc 请联系管理员
      .weui_opr_area
        .weui_btn_area
          a.weui_btn.weui_btn_default(href='http://ekp.lingrui.com:9000/WechatLR/expressage/index') 返回