
// 地区管理:管理首页
extends ./layouts/0302
    
block contents
    .contentArea
        table.table.table-hover
            
            
    
block pageId
    p(style="display:none") 03020101
    