
// 人员管理首页(大区总)
extends ./layouts/0304
    
block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/0304.js")
    
block pageId
    p(style="display:none") 03040103
    