
// 人员管理首页(后勤)
extends ./layouts/0304
    
block buttons
    .form-group
        button(type="button").btn.btn-default#supportAdd 添加大区总地总
        |&nbsp&nbsp
    
block pageId
    p(style="display:none") 03040101
    