
// 人员统计页面(后勤)
extends ./layouts/0304

block main
    .row(style='background-color:#f3f3f4')
        .col-md-12.col-sm-12
            h2 人员统计
    .row(style='background-color:#f3f3f4')
        .col-md-12.col-sm-12
            .col-md-2.col-sm-2.select-info
                .treeContent
                    div.tree
                        ul.ztree#treeMenu
            .col-md-10.col-sm-10
                .col-md-12.col-sm-12.select-info.ryuukasennTableContent
        
block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/03040102.js#{randomJsVersion}")
block pageId
    p(style="display:none") 03040102
    