
// 人员管理首页(后勤)
extends ./layouts/0304
    
block buttons
    .form-group
        button(type="button").btn.btn-default#supportAdd 添加大区总地总
        |&nbsp&nbsp
    .form-group
        button(type="button").btn.btn-default#receiveAllPersons 查看所有人员信息
        |&nbsp&nbsp
    
block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/03040102.js")
block pageId
    p(style="display:none") 03040102
    