.row
	.panel.panel-default
		.panel-heading
			each info in generalInfo
				span= info.BHKES
				span 回款总额 info.BHKES
				span 已核销金额 info.YDHSJHKS
.row
	.panel.panel-default
		.panel-heading 
			span 业务员明细查询
		ul.list-group
			li.list-group-item
				a(role="button", href="").btn.btn-link 111