
div(role="dialog", aria-labelledby="waitModalLabel", tabindex="-1").modal.fade#waitModal
    .modal-dialog.modal-lg(role="document")
        .modal-content
            .modal-body
                |后台处理数据中,请稍等....