
div(role="dialog", aria-labelledby="waitModalLabel", tabindex="-1").modal.fade#waitModal
    .modal-dialog.modal-lg(role="document")
        .modal-content
            .modal-header
                button.close(data-dismiss="modal",type="button")
                    span(aria-hidden="true") &times;
            .modal-body
                |数据检索中,请稍等....